@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.navbar {
    /*background-color: #283747;*/
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    background-color: #1c2833;
    transform: translateY(-10px);
}
.navbuttons {
    width: 52%;
    float: right;
    /*text-align: center;*/
    transform: translateY(80%);
}
.name {
    float: left;
    color: #90AEC5;
    width: 20%;
    text-align: center;
    font-size: 36px;
    font-family: ubuntu;
}
.button {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-family: ubuntu;
}